
/******************************************************

UNIVERSAL STLYING
*********************************************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: #08161c;
  font-family: 'Lato', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1% 0 0;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

footer {
	flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

/***************************************************
hamburger menu stylesheet

******************************************************/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: #fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background: none;
  position: absolute;
  top: 0;
  right:0;
  padding: 7px 10% 0 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#2a48ac;  position:absolute; text-align:center; font-size:12px; color: #8086D7;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0; color:#c6caff;}
.menu ul li a:hover { color: #846abb; text-decoration:none; transition: .2s;}
.menu a{text-decoration:none; color:#dddddd;}
.menu a:hover{text-decoration:none; color:#666;}

/****************************************************************/

/*******************************************************************

INDEX.HTML STYLING

**********************************************************************/


.desktop-menu {
	display: none;
}

#content {
	animation: fadein ease-in 1s .2s backwards;
	height: 600px;
	margin-top: 50px;
}
section {
	text-align: center;
	padding: 10px 4%;
	margin-top: 50px;
  padding-bottom: 10%;
}

section h1 {
	animation: bounce ease-in .7s .6s backwards;
	color: #C6CAFF;
	font-weight: bold;
	font-size: 2.7rem;
	margin: auto;
}

section p {
	animation: fadein ease-out .8s 1s backwards;
	color: #C6CAFF;
	font-size: 1.5rem;
}

section a {
	animation: fadein ease-in-out 1s 1.6s backwards;
	background: #2a48ac;
	color: #fff;
  text-decoration: none;
  padding: 10px 7px;
  position: relative;
  top: 25px;
}

footer {
  margin-top: 60px;
	padding: 20px;
}

footer ul {
	list-style: none;
	text-align: center;
}

footer ul li {
	display: inline;
}


footer ul li a {
	text-decoration: none;
	color: #c6caff;
}

footer p {
	text-align: center;
	color: #c6caff;
}
/*==============================================================

MIN WIDTH 320

================================================================*/

@media (min-width: 320px) {
	.hamburger {
		right: 8%;
	}
}


/*************************START MIN WIDTH 620**********************/

@media (min-width: 620px) {
	.section {
		padding: 0;
 }
  .section h1 {
		max-width: 400px;
	}

}

/**********************BEGIN MIN WDTH 850***********************/

section a:hover {
	background: #fff;
	color: #08161c;
	transition: .5s;
}

/********************START MIN WIDTH 1000************************/

@media (min-width: 1000px) {

.hamburger {
		display: none;
}

.desktop-menu {
	display: block;
}

.desktop-right {
	position: absolute;
	right: 0;
	width: 33%;
	z-index: 99999;
}

.desktop-menu li {
		display: inline;
}

.desktop-menu li a {
	color: white;
	padding: 5px 4%;
	text-decoration: none;
}

.desktop-menu li a:hover {
	background: white;
	color: black;
	transition: .5s;
}

section h1 {
	font-size: 3.9rem;
}

section p {
	font-size: 2.3rem;
}
section a {
	padding: 10px 54px;
}
/*******************************START MAX WIDTH QUERIES INDEX.HTML****/

@media (max-width: 1000px) {
	.desktop-menu {
		display: none;
	}
}
}

@media (max-width: 620px) {
	.section h1 {
		max-width: 300px;
	}

	#content {
	   height: 400px;
	}
}

/*************************************************************ABOUT.HTML STYLES*

                        ABOUT.HTML STYLING
***************************************************************************/
img.logo {
    position: absolute;
    top: 0;
    left: 5%;
}

.about_header {
	animation: fadein ease-out .5s .3s backwards;
	padding-left: 5%;
	margin-top: 80px;
	letter-spacing: 2px;
}
article {
	animation: fadein ease-out .5s .3s backwards;
  margin-top: 10px;
  padding: 0 5%;
	line-height: 2;
}

article h3 {
	animation: fadein ease-out .5s .3s backwards;
	letter-spacing: 2px;
}
aside {
	animation: bounce ease-in .7s .9s backwards;
	padding: 0 5%;
	text-align: center;
	margin-top: 20px;
}

aside img {
	border-radius: 60%;
	width: 100%;
	margin-top: 5%;
}

aside figcaption {
	font-size: 0.7em;
	font-style: italic;
}

footer {
	clear: both;
	margin-top: 100px;
}
/********************MINWIDTH 450*********************/
@media (min-width: 450px) {
	aside img {
		width: 70%;
	}
}
/***********************MINWIDTH 900*******************/
@media (min-width: 900px) {
		article {
    margin-top: 30px;
    line-height: 3;
    padding-left: 5%;
    width: 50%;
  }

	aside {
    text-align: center;
    float: right;
    width: 40%;
    margin-top: -486px;
 }
}
/************************MINWIDTH 955*********************/
@media (min-width: 955px) {
	aside {
		margin-top: -435px;
	}
}


/**************************************************************************

                  PORTFOLIO.HTML STYLING

********************************************************************************/
.gallery h2 {
	animation: bounce ease-in 1.3s .3s backwards;
	text-align: center;
	margin-top: 90px;
}
.bx-wrapper {
	position: relative;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 60px;
}

/*************************************************************CONTACT>HTML STYLES*

                        CONTACT.HTML STYLING
***************************************************************************/



.contact a {
	color: #c6caff;
}

.contactform {
 display: flex;
 justify-content: center;
 padding: 3% 6%;
 margin: 100px auto;
}

form {
	animation: fadein ease 3s .8s backwards;
  background: #dddddd;
  padding: 20px 90px;
	color: #08161c;
}

form h2 {
	font-weight: bold;
	margin-bottom: 7%;
}
label.label {
 display: block;
 padding-right: 4%;
}

.first-name, .last-name, .email, .message {
	margin-bottom: 5%;
}

input#first-name, input#last-name, input#email {
	background: none;
 	border-bottom: 2px solid gray;
	display: block;
	padding: 1%;

}

textarea#text {
  background: none;
  border: 1px solid gray;
  margin-top: 5%;
}

input[type="submit"] {
	background: none;
	border: 1px solid #666;
	margin-top: 7%;
  padding: 6px 30px;
}


input[type="submit"]:hover {
 background: black;
 color: #fff;
 transition: .3s;
}

/*********************************MAXWIDTH QUERY 655*****/

@media (max-width: 655px) {
	#container {
		width: 94%;
	}
}
/************************************END 655 QUERY**********/

/*************************************BEGIN KEYFRAMES*******/


@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(0.1);

	}

	100% {
		opacity: 1;
		transform: scale(1);

	}

}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes arrow {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
